<h1>Locations</h1>
<ul>
  <% @locations.each do |location| %>
    <li><%= link_to location.name, location %></li>
  <% end %>
</ul>

<h2>Add New Location</h2>
<%= form_with model: @location do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit "Add Location" %>
  </div>
<% end %>